@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?otwfi1');
    src: url('fonts/icomoon.eot?otwfi1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?otwfi1') format('truetype'),
    url('fonts/icomoon.woff?otwfi1') format('woff'),
    url('fonts/icomoon.svg?otwfi1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-enlarge2:before {
    content: "\e98b";
}

.icon-shrink2:before {
    content: "\e98c";
}

.icon-play3:before {
    content: "\ea1c";
}

.icon-pause2:before {
    content: "\ea1d";
}

.icon-volume-medium:before {
    content: "\ea27";
}

.icon-volume-mute2:before {
    content: "\ea2a";
}

* { margin:0; padding:0;}
.clearfix { zoom: 1; }
.clearfix:after { display: block; visibility: hidden; clear: both; overflow: hidden; height: 0; content: "."; }
.floatl { float: left; }
.floatr { float: right; }
video::-webkit-media-controls-enclosure {
    /*禁用播放器控制栏的样式*/
    display: none !important;
}
body{ background: #e8e8e8;}
a{ text-decoration: none}

.mediaplayer{ width:100%; height:500px; background: #000; position: relative;}
.mediaplayer.full{ width:100%; height:100%;}
.mediaplayer.full h1{ display: none;}
.mediaplayer.full .video{ height:100%; position: relative; z-index:10;}
.mediaplayer.full .controls{ position: absolute; left:0; bottom:0; opacity:0; z-index:100; transition: all 1s;}
.mediaplayer.full .controls:hover{ opacity:1; }

.mediaplayer h1{ text-align: center; height:100px; line-height:100px; color: #fff;}
.mediaplayer .video{ width:100%; height: 360px; text-align: center}
.mediaplayer .video video{ height:100%;}

.mediaplayer .controls{ width:100%; height:39px; background: #000; border-top: 1px solid #fff;}
.mediaplayer .controls .ctrl-btn{ font-size: 24px; display: block; margin-top:8px; color: #fff;}
.mediaplayer .controls .play{ padding: 0 20px;}
.mediaplayer .controls .progress{ width:50%; height:10px; border-radius: 5px; background: #808080; margin-top: 14px; cursor: pointer;}
.mediaplayer .controls .progress .loaded{ width:0; height:10px; background: #fff; border-radius: 5px;}

.mediaplayer .controls .timer{ color: #fff; font-size: 14px; height:39px; line-height:39px; margin-left: 5px;}

.mediaplayer .controls .volume{ width:155px;}
.mediaplayer .controls .volume-btn{ padding: 0 5px;}
.mediaplayer .controls .vol-progress{ width:120px; height:10px; margin-top:14px; border-radius: 5px; float: right; background: #808080;}
.mediaplayer .controls .vol-bar{ width:100%; height:10px; background: #fff; border-radius: 5px;}
.mediaplayer .controls .full-screen{ margin-left: 30px; padding: 0 20px;}